<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Crear Empledo</h3>
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" name="name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Apellido" name="apellido">
              </div>

            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control form-control-lg mt-3" placeholder="Cedula" name="cedula">

              </div>
              <div class="col">
                <label for="inputState"></label>
                <select id="inputState" class="form-control">
                  <option selected>Sexo</option>
                  <option>...</option>
                </select>

              </div>

            </div>
            <input type="mail" class="form-control form-control-lg mt-3" placeholder="Edad" name="mail">
            <div>
              <button class="btn btn-secondary btn-lg mr-3">
                Volver
              </button >
              <div class="space">
              </div>
              <button  class="btn btn-dark btn-lg">
                Agregar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
